<footer class="footer">
  <div class="row">
    <div class='col-sm-3'>
      <h4><strong>Urząd Komunikacji Elektronicznej</strong></h4>
<!-- 
      <h5>ul. Giełdowa 7/9</h5>
      <h5>01-211 Warszawa</h5>
-->
      <br>
      <h6><a href="#authors" data-toggle="collapse">&copy; 2018 UKE-BI-WUR</a></h6>
    </div>

    <div class='col-sm-3'>
      <h4><strong>Office of Electronic Communications</strong></h4>
<!-- 
      <h5>7/9 Giełdowa Street</h5>
      <h5>01-211 Warsaw</h5>
-->
      <h5>POLAND</h5>
    </div>

    <div class="col-sm-3 col-sm-offset-1">
      <h4>Kontakt / Contact</h4>
        <ul><h5><span class="glyphicon glyphicon-envelope"></span> <%= mail_to "ske_gdynia@uke.gov.pl" %></h5></ul>
<!-- 
        <ul><h5><span class="glyphicon glyphicon-earphone"></span> +48 22 330 40 00 </h5></ul>
-->
    </div>
    <div class="col-sm-2">
      <h4>Zobacz też / Links</h4>
        <ul><h5><span class="glyphicon glyphicon-globe"></span> <%= link_to('UKE', 'https://uke.gov.pl', target: "_blank") %></h5></ul>
        <ul><h5><span class="glyphicon glyphicon-globe"></span> <%= link_to('Facebook', 'https://web.facebook.com/UrzadKomunikacjiElektronicznej', target: "_blank") %></h5></ul>
        <ul><h5><span class="glyphicon glyphicon-globe"></span> <%= link_to('Twitter', 'https://twitter.com/uke2uke', target: "_blank") %></h5></ul>
    </div>
  </div>  <!-- /row -->

</footer>
