<header>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
			  <%= link_to( image_tag( t('logo_file'), alt: 'Logo', :class => "img img-responsive" ), t('logo_link') ) %>
			</div>
			<div class="col-sm-8">
				<div class="pull-right">
		      <%= link_to_unless_current( image_tag('en.png', alt: 'EN', class: "img img-thumbnail", width: 32), { locale: :en }) %>
		      <%= link_to_unless_current( image_tag('pl.png', alt: 'PL', class: "img img-thumbnail", width: 32), { locale: :pl }) %>
	      </div>
			</div>
		</div>
	</div>
</header>

