<header>
	</br>
	<div class="container">
		<div class="row">
			<div class="col-sm-4">
			  <%= link_to( image_tag("logo_uke_en_do_lewej.png", :class => "img img-responsive" ), "https://www.uke.gov.pl/en/" ) %> 
			</div>
		</div>
	</div>
</header>

